  <div *ngIf="users == null">No users</div>
  <div *ngIf="users != null">

    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>first_name</th>
          <th>last_name</th>
          <th>email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email}}</td>
          </tr>
    
      </tbody>
    </table>
  </div>
  
  
  